<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="breadcrumb">
<div id="breadcrumb">
	<div itemscope="" itemtype="https://schema.org/BreadcrumbList">
	            <span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
	                <a itemprop="item" href="#" title="Trang chủ">
	                    <span style="color: #F09217" itemprop="name">Home</span>
	                    <meta itemprop="position" content="1">
	                </a>
	            </span>
	
	    >
	
	    <span itemprop="name">Lambda Expressions trong Java 8</span>
	</div>
</div>
</body>
</html> 