<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="comment-frame">
	<!-- 1.Comments Form -->
	<div class="card my-4">
		<h5 class="card-header">Leave a Comment:</h5>
		<div class="card-body">
			<form th:action="@{/comment/}" method="POST" th:object="${comment}">
				<div class="form-group">
					<textarea id="editor" th:field="*{comment}"></textarea>
				</div>
				<input type="text" th:field="*{commenterName}" placeholder="Name (required)" required>
				<input type="text" th:field="*{commenterEmail}" placeholder="Email (required)" required>
				<input th:if="${post != null}" type="hidden" th:field="*{postId}" th:value="*{postId}">
				<input th:if="${course != null}" type="hidden" th:field="*{courseId}" th:value="*{courseId}">
				<button type="submit" class="btn btn-primary">Đăng Bình
					Luận</button>
			</form>
		</div>
	</div>

	<!-- 2.Single Comments -->
	<th:block th:if="${post != null}">
		<div class="media mb-4" th:each="comment : ${post.comments}">
			<img class="d-flex mr-3 rounded-circle" width="50px" height="50px"
				src="https://img.pngio.com/user-outline-people-person-icon-with-png-and-vector-format-for-people-icon-png-512_512.png" alt="">
			<div class="media-body">
				<h5 class="mt-0" th:utext="${comment.commenterName}"></h5>
				<p th:utext="${comment.comment}"></p>
			</div>
		</div>
	</th:block>
	
	<th:block th:if="${course != null}">
		<div class="media mb-4" th:each="comment : ${course.comments}">
			<img class="d-flex mr-3 rounded-circle" width="50px" height="50px"
				src="https://img.pngio.com/user-outline-people-person-icon-with-png-and-vector-format-for-people-icon-png-512_512.png" alt="">
			<div class="media-body">
				<h5 class="mt-0" th:utext="${comment.commenterName}"></h5>
				<p th:utext="${comment.comment}"></p>
			</div>
		</div>
	</th:block>
</body>
</html>