<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="comment-frame">
		<!-- 1.Comments Form -->
		<div class="card my-4">
			<h5 class="card-header">Leave a Comment:</h5>
			<div class="card-body">
				<form>
					<div class="form-group">
						<textarea class="form-control" rows="3"></textarea>
					</div>
					<input type="text" name="txtName" placeholder="Name (required)">
					<input type="text" name="txtEmail" placeholder="Email (required)">
					<button type="submit" class="btn btn-primary">Đăng Bình
						Luận</button>
				</form>
			</div>
		</div>

		<!-- 2.Single Comments -->
		<div class="media mb-4">
			<img class="d-flex mr-3 rounded-circle"
				src="http://placehold.it/50x50" alt="">
			<div class="media-body">
				<h5 class="mt-0">Commenter Name</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
				scelerisque ante sollicitudin. Cras purus odio, vestibulum in
				vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
				vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</div>
		<div class="media mb-4">
			<img class="d-flex mr-3 rounded-circle"
				src="http://placehold.it/50x50" alt="">
			<div class="media-body">
				<h5 class="mt-0">Commenter Name</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
				scelerisque ante sollicitudin. Cras purus odio, vestibulum in
				vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
				vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</div>
</body>
</html>