<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="comment-frame">
	<!-- 1.Comments Form -->
	<div class="card my-4">
		<h5 class="card-header">Leave a Comment:</h5>
		<div class="card-body">
			<form>
				<div class="form-group">
					<textarea class="form-control" rows="3"></textarea>
				</div>
				<input type="text" name="txtName" placeholder="Name (required)">
				<input type="text" name="txtEmail" placeholder="Email (required)">
				<input th:if="${post != null}" type="hidden" name="postId" th:value="${post.id}">
				<input th:if="${course != null}" type="hidden" name="courseId" th:value="${course.id}">
				<button type="submit" class="btn btn-primary">Đăng Bình
					Luận</button>
			</form>
		</div>
	</div>

	<!-- 2.Single Comments -->
	<th:block th:if="${post != null}">
		<div class="media mb-4" th:each="comment : ${post.comments}">
			<img class="d-flex mr-3 rounded-circle"
				src="http://placehold.it/50x50" alt="">
			<div class="media-body">
				<h5 class="mt-0" th:utext="${comment.commenterName}"></h5>
				<p th:utext="${comment.comment}"></p>
			</div>
		</div>
	</th:block>
	
	<!-- <th:block th:if="${course != null}">
		<div class="media mb-4" th:each="comment : ${course.comments}">
			<img class="d-flex mr-3 rounded-circle"
				src="http://placehold.it/50x50" alt="">
			<div class="media-body">
				<h5 class="mt-0" th:utext="${comment.commenterName}"></h5>
				<p th:utext="${comment.comment}"></p>
			</div>
		</div>
	</th:block> -->
</body>
</html>