<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="footer" th:fragment="footer">
<div class="container-fluid " id="above">
    <div class="container">
        <div class="row text-white">
            <div class="col-sm-3">
                <p>Liên hệ</p>
                <ul>
                    <li><a th:href="@{/lien-he/chinh-sach}">Chính sách</a></li>
                    <li><a th:href="@{/lien-he/gioi-thieu}">Giới thiệu</a></li>
                    <li><a th:href="@{/lien-he/dieu-khoan}">Điều khoản</a></li>
                    <li><a th:href="@{/lien-he/guest-post}">Guest Post</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>Mã giảm giá</p>
                <ul>
                    <li th:each="discount : ${#request.getAttribute('DISCOUNT_POSTS')}">
                    	<a th:href="@{'/category/' + ${discount.id}}" th:text="${discount.name}"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>Khóa học</p>
                <ul>
                    <li th:each="courseItem : ${#request.getAttribute('COURSES')}">
                    	<a class="text-pink" th:href="@{'/course/' + ${courseItem.id}}" th:text="${courseItem.name}"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>Giới thiệu</p>
                <div class="mb-3">Admin <span class="text-pink">Cường</span>, quản lý chính của website.</div>
                <div class="mb-3">Email: thehalfheart@gmail.com</div>
                <div class="mb-3">Phone/Zalo: 0979306603</div>
                <div class="mb-3">Skype: thehalfheart</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center" id="bottom">
        <div class="p-4">
            <a href="https://phongtro123.com/tinh-thanh/ho-chi-minh">Cho thuê phòng trọ</a> |
            <a href="https://bds123.vn/cho-thue-nha-ho-chi-minh.html">Cho thuê nhà</a> |
            <a href="https://atrungroi.com/xsmn-ket-qua-xo-so-mien-nam.html">XSMN</a> | Khu đô thị
            <a href="https://aquacityvn.vn/">Aqua City</a> Novaland
        </div>
        <div class="p-4">
            @2020 - Freetuts.net. All Right Reserved
            <br>
            Theme <b>GoodNews</b>, nền tảng <b>Codeigniter</b>, VPS mua tại
            <a href="https://freetuts.net/recommended/tinohost" target="_blank" rel="noopener noreferrer nofollow external" title="tinohost">Tinohost</a>
        </div>

</div>
</div>
</body>
</html>