<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="card md-4 mb-4 border" th:fragment="lesson-widget">
		<h5 class="card-header bg-success text-white text-left font-weight-bold">
			Danh Sách Bài Học</h5>
		<ul class="list-group mb-0 p-0 rounded-0" style="list-style-type: none">
			<li class="list-group-item text-left"
				style="background-color: #d9ddff;">Tổng Quan</li>
			<li class="list-group-item text-left"><a
				href="https://www.google.com/"> 1.a </a></li>
			<li class="list-group-item text-left"><a
				href="https://www.google.com/"> 1.b </a></li>
			<li class="list-group-item text-left"><a
				href="https://www.google.com/"> 1.c </a></li>
		</ul>
		<ul class="list-group mb-0 p-0 rounded-0" style="list-style-type: none">
			<li class="list-group-item text-left"
				style="background-color: #d9ddff;">Chi tiết</li>
			<li class="list-group-item text-left"><a
				href="https://www.google.com/"> 2.a </a></li>
			<li class="list-group-item text-left"><a
				href="https://www.google.com/"> 2.b </a></li>
		</ul>	
	</div>

	<div class="card md-4 border" style="position:sticky; top:0px;" th:fragment="discount-widget">
		<h5 class="card-header text-white text-center font-weight-bold"
			style="background: #2f6e91;">Mã Giảm Giá</h5>
		<table style="margin-bottom: 0px">
			<tr class="card-body border text-center">
				<td class="border">Unica</td>
				<td class="border">50%</td>
				<td class="border"><a href="https://www.google.com/">
						<button type="button" class="btn btn-primary">Lấy Mã</button>
				</a></td>
			</tr>
			<tr class="card-body border text-center">
				<td class="border">TinoHost</td>
				<td class="border">30%</td>
				<td class="border"><a href="https://www.google.com/">
						<button type="button" class="btn btn-primary">Lấy Mã</button>
				</a></td>
			</tr>
			</tr>
			<tr class="card-body border text-center">
				<td class="border">INET</td>
				<td class="border">30%</td>
				<td class="border"><a href="https://www.google.com/">
						<button type="button" class="btn btn-primary">Lấy Mã</button>
				</a></td>
			</tr>
		</table>
	</div>
</body>
</html>