<!DOCTYPE html>
<!-- main-fragment(title, styles, body, scripts) -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #styles},
                                                ~{::body},
                                                ~{:: #scripts},
                                               )}">

<head>
    <title>Freetuts - Admin</title>
</head>

<body>
<ul class="nav my-2">
    <li class="nav-item"><h4 class="card-title">Posts</h4></li>
    <li class="nav-item ml-auto">
        <!-- +new -->
        <a class="btn btn-primary text-white rounded-circle font-13"
           href="#"> <i class="fas fa-plus"></i> </a>
    </li>
</ul>

<div class="table-responsive">
    <table id="multi_col_order"
           class="table table-striped table-bordered display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Creator Name</th>
            <th>(ID) Category Name</th>
            <th>Created Date</th>
            <th>Available</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Creator Name</th>
            <th>(ID) Category Name</th>
            <th>Created Date</th>
            <th>Available</th>
            <th>Edit</th>
        </tr>
        </tfoot>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}">Id</td>
            <td th:text="${post.name}">Name</td>
            <td th:text="${post.creatorName}">CreatorName</td>
            <td th:text="'(' + ${post.categoryId} + ') ' + ${post.categoryName}">CategoryName</td>
            <th th:text="${#dates.format(post.createdDate, 'dd-MM-yyyy')}">CreatedDate</th>
            <td style="text-align: center;">
                <a th:if="${post.available == true}"
                   class="btn btn-success"
                   href="#"
                   data-toggle="modal"
                   data-target="#modalStatus"
                   onclick="updateStatus(this.id,this.name,true)"
                   th:id="${post.id}" th:name="${post.name}"
                   style="width: 40px; height: 40px;">
                    <i class="fas fa-check"></i>
                </a>
                <a th:if="${post.available == false}"
                   class="btn btn-danger"
                   href="#"
                   data-toggle="modal"
                   data-target="#modalStatus"
                   onclick="updateStatus(this.id,this.name,false)"
                   th:id="${post.id}" th:name="${post.name}"
                   style="width: 40px; height: 40px;">
                    <i class="fas fa-times"></i>
                </a>
            </td>

            <td style="text-align: center;">
                <a class="btn btn-primary"
                   href="javascript:void(0)"
                   style="width: 40px; height: 40px;">
                    <i class="far fa-edit"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="/admin/common/___modal :: updateModal"></th:block>

<!-- Update Status -->
<script type="text/javascript">
    function updateStatus(id,name,status){
        var text = '('+ id + ') ' + name;
        $("#updateStatus_text").html(text);

        var before = "true";
        var after = "false";
        if (!status) {
            before = "false";
            after = "true";
        }

        $("#updateStatus_before").html(before);
        $("#updateStatus_after").html(after);

        var confirm = "/admin/post/" + id + "/" + !status;
        var confirmBtnEle = $("#updateStatus_confirm");
        confirmBtnEle.attr('href',confirm);
    }
</script>
<!-- ./Update Status -->
</body>

</html>