<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:fragment="main-fragment(title, styles, breadcrumbBar, mainContent, courseList, postList, commentFrame, widget1, widget2, scripts)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">Title</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/default.min.css">
  
<th:block th:replace="${styles} ?: ~{}"></th:block>
</head>
<body>
	<header th:replace="/common/___header :: header">
		<h1>Header</h1>
	</header>
	
	<div class="container">	
		<!-- Breadcrumb -->
		<div th:replace="${breadcrumbBar} ?: ~{}"></div>
		
		<!-- Sub-categories Navbar -->
<!--		<div th:replace="${subCategoriesNav} ?: ~{}">Sub-category navbar</div>-->
		
		<!-- Body -->	
		<div class="row mt-5">
		
			<!-- Left frame -->	
			<div class="col-lg-8">
				<!-- Post Content -->
				<div class="col-12 p-0" th:insert="${mainContent} ?: ~{}"></div>
				
				<!-- Comment frame -->
				<th:block th:replace="${commentFrame} ?: ~{}"></th:block>
				
				<!-- Course List frame -->
				<div th:insert="${courseList} ?: ~{}"></div>
				
				<!-- Post List frame -->
				<div th:insert="${postList} ?: ~{}"></div>
			</div>
			
			<!-- Right frame: Widgets -->
			<div class="col-lg-4">
				<div th:replace="${widget1} ?: ~{}"></div>
				<div th:replace="${widget2} ?: ~{}"></div>
				<div th:replace="/common/___widgets :: discount-widget"></div>
			</div>
		</div>
	</div>
	
	<footer th:replace="/common/___footer :: footer">
		<p>Footer</p>
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/header-script.js}"></script>
	<script type="text/javascript" th:src="@{/ckeditor/build/ckeditor.js}"></script>
	<<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	<th:block th:replace="${scripts} ?: ~{}"></th:block>
</body>
</html>