<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="updateStatusModal">
    <!-- The Modal - STATUS -->
    <div class="modal" id="modalStatus">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Status - Course</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <span> Update status of </span><span class="font-weight-bold" id="updateStatus_text"> (ID) Name </span>
                    <br>
                    <span class="font-weight-bold" id="updateStatus_before"> Before </span>
                    <i class="fas fa-arrow-right"></i>
                    <span class="font-weight-bold" id="updateStatus_after"> After </span>
                    <br>
                    <span> If there are dependences/children, they will be affected!</span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a id="updateStatus_confirm" class="btn btn-success" href="#">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- End The Modal - STATUS  -->
</th:block>
<th:block th:fragment="editDiscountModal">
    <!-- The Modal - PREVIEW -->
    <div class="modal" id="modalPreview">
      <div class="modal-dialog modal-xl modal-dialog-centered w-50">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 id="preview_title" class="modal-title"> Preview </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            	<!-- 3. Post Content --> 
				<div id="preview_content">
                    <form id="editDiscountForm" action="/admin/discount/update" class="was-validated p-4" method="post" th:object="${DISCOUNT}">
                        <input type="hidden" th:field="*{id}" id="editId">
                        <div class="form-group">
                            <input id="updateCode" type="text" class="form-control mb-2" placeholder="Code" th:field="*{discountCode}" required>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <input id="updatePercent" type="number" class="form-control mb-2" placeholder="Percent" th:field="*{discountPercent}" min="1" max="100" required>
                            <div class="invalid-feedback">Please fill out 1-100 in this field.</div>
                        </div>
                        <div class="form-group">
                            <input id="updateWebsite" type="url" class="form-control mb-2" placeholder="Link" th:field="*{discountWebsite}" required>
                            <div class="invalid-feedback">Please fill out the link in this field.</div>
                        </div>
                        <div class="form-group">
                            <input id="updateProvider" type="text" class="form-control mb-2" placeholder="Provider" th:field="*{provider}" required>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                    </form>
                </div>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
              <div class="button-bar">
                  <button type="button" class="btn btn-danger mx-2 float-right" data-dismiss="modal"> <i class="far fa-eye-slash"></i> Close</button>
                  <input form="editDiscountForm" type="submit" class="btn btn-success float-right mx-2" name="Submit" value="Submit">
              </div>
        </div>
      </div>
    </div>
    <!-- End The Modal - PREVIEW  -->
</th:block>

</body>
</html>