<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="updateModal">
    <!-- The Modal - STATUS -->
    <div class="modal" id="modalStatus">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Status - Course</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <span> Update status of </span><span class="font-weight-bold" id="updateStatus_text"> (ID) Name </span>
                    <br>
                    <span class="font-weight-bold" id="updateStatus_before"> Before </span>
                    <i class="fas fa-arrow-right"></i>
                    <span class="font-weight-bold" id="updateStatus_after"> After </span>
                    <br>
                    <span> If there are dependences/children, they will be affected!</span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a id="updateStatus_confirm" class="btn btn-success" href="#">Yes!</a>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- End The Modal - STATUS  -->
</th:block>

</body>
</html>