<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #styles},
                                                ~{:: #main-content},
                                                ~{:: #scripts},
                                               )}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<th:block id="styles">
</th:block>
<title ></title>
</head>
<body>
	<div class="container" id="main-content" th:object="${post}"> 
		<!-- I.BreadcrumbList -->
		<div></div>

		<!-- II.Page Content -->
		<div class="row">
			<!-- Post Content Column -->
			<div class="col-lg-8 border">

				<!-- Title -->
				<h1 class="mt-4" th:text="*{name}">  </h1> 

				<p class="lead">
					Đăng bởi:
					<!-- Author -->
					<span th:text="*{creator.fullname}"></span> -
					<!-- Date/Time -->
					<span> Vào ngày: </span><span th:text="*{createdDate}"></span> 
				</p>


				<hr>

				<!-- 1. Preface -->
				<p th:text="*{description}"></p>

				<!-- 2. Table Of Content -->
				<div class="card md-4 border">
					<h5 class="card-header">Table of Content</h5>
					<ul class="go-to-detail" style="margin-bottom: 0px;">
						<li class="#" style="text-align: left;" th:each="content : ${contents}">
						<a href="#" th:utext="${content.name}"> </a>
						</li>
					</ul>
				</div>
				<!-- 3. Post Content -->
				<div th:each="content : ${contents}">

					<hr>
					<h2 th:utext="${content.name}"></h2>
					<hr>
					
					<div th:attr="include-html='/contents/' + ${content.contentFile}"></div>
				</div>
				
				<hr>

				<!-- 4.Comments -->
				<!-- 4.1.Comments Form -->
				<div class="card my-4">
					<h5 class="card-header">Leave a Comment:</h5>
					<div class="card-body">
						<form>
							<div class="form-group">
								<textarea class="form-control" rows="3"></textarea>
							</div>
							<input type="text" name="txtName" placeholder="Name (required)">
							<input type="text" name="txtEmail" placeholder="Email (required)">
							<button type="submit" class="btn btn-primary">Đăng Bình
								Luận</button>
						</form>
					</div>
				</div>

				<!-- 4.2.Single Comment -->
				<div class="media mb-4" th:each="comment : ${comments}">
					<img class="d-flex mr-3 rounded-circle"
						src="http://placehold.it/50x50" alt="">
					<div class="media-body">
						<h5 class="mt-0" th:utext="${comment.commenterName}"></h5>
						<p th:utext="${comment.comment}"></p>
					</div>
				</div>
				
				<!-- /. -->
			</div>

			<!-- III.Sidebar Widgets Column -->
			<div class="col-lg-4">
				<!-- 1.Search Widget -->
				<div class="card my-0">
					<div class="card-body"></div>
				</div>

				<!-- 2.Categories Widget -->
				<div class="card md-4 border">
					<h5 class="card-header"
						style="background: #258e25; color: #fff; text-align: left; font-weight: bold">
						Danh Sách Bài Học</h5>
					<ul class="list-group"
						style="margin-bottom: 0px; list-style-type: none; padding: 0;">
						<li class="list-group-item" style="text-align: left;"><a
							href="#"> {Categories.name} </a></li>
						<li class="list-group-item" style="text-align: left;"><a
							href="#"> {Categories.name1} </a></li>
						<li class="list-group-item" style="text-align: left;"><a
							href="#"> {Categories.name2} </a></li>
						<li class="list-group-item" style="text-align: left;"><a
							href="#"> {Categories.name3} </a></li>
						<li class="list-group-item" style="text-align: left;"><a
							href="#"> {Categories.name4} </a></li>
						<li class="list-group-item" style="text-align: left;"><a
							href="#"> {Categories.name5} </a></li>
					</ul>
				</div>

				<!-- 3.Side Widget -->
				<div class="card md-4 border">
					<h5 class="card-header"
						style="background: #2f6e91; color: #fff; text-align: center; font-weight: bold">
						Mã Giảm Giá</h5>
					<table style="margin-bottom: 0px">
						<tr class="card-body border" style="text-align: center;">
							<td class="border">{Discount.name}</td>
							<td class="border">{Discount.percent}</td>
							<td class="border"><a href="#">
									<button type="button" class="btn btn-primary">Lấy Mã</button>
							</a></td>
						</tr>
						<tr class="border" style="text-align: center;">
							<td class="border">{Discount.name}</td>
							<td class="border">{Discount.percent}</td>
							<td class="border"><a href="#">
									<button type="button" class="btn btn-primary">Lấy Mã</button>
							</a></td>
						</tr>
						</tr>
						<tr class="border" style="text-align: center;">
							<td class="border">{Discount.name}</td>
							<td class="border">{Discount.percent}</td>
							<td class="border"><a href="#">
									<button type="button" class="btn btn-primary">Lấy Mã</button>
							</a></td>
						</tr>
					</table>
				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /.end -->
	</div>
	<th:block id="scripts">
	<script>
		function includeHTML() {
		  var z, i, elmnt, file, xhttp;
		  /* Loop through a collection of all HTML elements: */
		  z = document.getElementsByTagName("*");
		  for (i = 0; i < z.length; i++) {
		    elmnt = z[i];
		    /*search for elements with a certain atrribute:*/
		    file = elmnt.getAttribute("include-html");
		    if (file) {
		      /* Make an HTTP request using the attribute value as the file name: */
		      xhttp = new XMLHttpRequest();
		      xhttp.onreadystatechange = function() {
		        if (this.readyState == 4) {
		          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
		          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
		          /* Remove the attribute, and call this function once more: */
		          elmnt.removeAttribute("include-html");
		          includeHTML();
		        }
		      }
		      xhttp.open("GET", file, true);
		      xhttp.send();
		      /* Exit the function: */
		      return;
		    }
		  }
		}
		
		includeHTML();
	</script>
	</th:block>
</body>
</html>