<!DOCTYPE html>
<!-- th:fragment="main-fragment(title, styles, subCategoriesNav, mainContent, courseList, postList, commentFrame, widget1, widget2, scripts) -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #styles},
                                                ~{:: #breadcrumb},
                                                ~{:: #main-content},
                                                ~{:: #course-frame},
                                                ~{:: #post-list-frame},
                                                ~{:: #comment-frame},
                                                ~{:: #widget-1},
                                                ~{:: #widget-2},
                                                ~{:: #scripts},
                                               )}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://freetuts.net/public/logo/icon.png?r=1">
    <title >Học online miễn phí - Freetuts</title>
</head>
<th:block id="styles">
    <link rel="stylesheet" th:href="@{/owl-carousel/assets/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/owl-carousel/assets/owl.theme.default.css}">
    <style>
        #main-content img {
            width: 100%;
            height: auto;
        }

        #main-content #main-img {
            width: 100% !important;
            height: auto;
        }
        a:active, a:after, a:before, a:focus, a:link, a:visited {
            outline: 0;
            text-decoration: none;
        }

        a {
            transition: 0.2s;
            color: black;
        }

        a:hover{
            color: #F09217;
        }

        .owl-carousel {
            padding: 15px 15px 0 15px!important;
        }
    </style>
</th:block>

<body>
<div class="mt-4" id="widget-1" th:insert="/common/___widgets :: review-widget"></div>
<div id="widget-2" th:insert="/common/___widgets :: excercise-widget"></div>

<div id="main-content">
    <div>
        <div class="mt-4" style="padding:0.75rem; background-color: #2f6e91; color: #ffffff;font-weight: bold">COUPON GIẢM GIÁ</div>
        <div class="owl-carousel owl-theme border">
            <div class="item border p-3">
                <a href=""><img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt=""></a>
                <a href=""><h4>1</h4></a>
            </div>
            <div class="item border p-3"><h4>2</h4></div>
            <div class="item border p-3"><h4>3</h4></div>
            <div class="item"><h4>4</h4></div>
            <div class="item"><h4>5</h4></div>
            <div class="item"><h4>6</h4></div>
            <div class="item"><h4>7</h4></div>
            <div class="item"><h4>8</h4></div>
            <div class="item"><h4>9</h4></div>
        </div>
    </div>

    <table class="table table-bordered mt-4" th:each="box : ${NEWS_BOXES}">
        <thead>
        <tr>
            <th style="background-color: #2f6e91; color: #ffffff" colspan="2" th:text="${box.categoryName}"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item, state : ${box.posts}">
                <th:block th:if="${state.first}">
                    <td width="300px" rowspan="5" class="p-3">
                        <div class="mb-4">
                            <a href="">
                                <img id="main-img" th:src="@{'/images/' + ${item.thumbnail}}" alt="">
                            </a>
                        </div>
                        <div  style="overflow: hidden ; max-height: 50px">
                            <strong ><a href="" th:text="${item.name}"></a></strong>
                        </div>
                        <p style="overflow: hidden ; max-height: 100px" class="mt-2" th:text="${item.description}"></p>
                    </td>
                </th:block>
                <th:block th:if="${!state.first}">
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <a th:href="@{'/post/' + ${item.id}}">
                                    <img style="height: 75px;width: 95px" th:src="@{'/images/' + ${item.thumbnail}}" alt="">
                                </a>
                            </div>
                            <div style="overflow: hidden ; max-height: 70px" class="col-9">
                                <a th:href="@{'/post/' + ${item.id}}" th:text="${item.name}"></a>
                            </div>
                        </div>
                    </td>
                </th:block>
            </tr>
            <th:block th:if="${box.id != 1}">
                <tr>
                    <td class="text-center" colspan="2">
                        <a th:href="@{'/category/' + ${box.id}}">Xem thêm  <i class="fas fa-long-arrow-alt-right"></i></a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>

</div>
</body>

<th:block id="scripts">
    <script th:src="@{/owl-carousel/owl.carousel.js}"></script>
    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:2
                    },
                    1000:{
                        items:3
                    }
                }
            })
        });
    </script>
</th:block>
</html>