<!DOCTYPE html>
<!-- th:fragment="main-fragment(title, styles, subCategoriesNav, mainContent, courseList, postList, commentFrame, widget1, widget2, scripts) -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #styles},
                                                ~{:: #breadcrumb-bar},
                                                ~{:: #main-content},
                                                ~{:: #course-frame},
                                                ~{:: #post-list-frame},
                                                ~{:: #comment-frame},
                                                ~{:: #widget-1},
                                                ~{:: #widget-2},
                                                ~{:: #scripts},
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu Freetuts.net</title>
</head>

<body>
<div class="border p-4" id="main-content">

</div>
</body>
</html>