<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/dist/css/image-upload-style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css" integrity="sha512-PRGgQb26AC1B8zVh9XK04gO9b/lp70XILY4uEg4gGfrM8D0hPoz6SXQX35+kSZ/fXWizrIu4hp+d665b9vh23g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
</head>
<style>
    /* Alertify */
    .ajs-message.ajs-custom-error {
        color: #FFFFFF;
        background-color: #c11818;
        border-color: #FFFFFF;
        text-align: center;
    }

    .ajs-message.ajs-custom-success {
        color: #FFFFFF;
        background-color: #13a539 !important;
        border-color: #FFFFFF;
        text-align: center;
    }

    .tree-btn {
        max-height: 40px;
        font-size: 13px;
        margin: 0;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs col-11">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#discount">Discount code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#course">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#category">Category</a>
                </li>
            </ul>
            <a class="btn btn-danger col-1" href="/logout">Logout</a>
        </div>
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3>POST</h3>
                <form class="mt-5 mb-3" id="form-post" action="/admin/post" method="post" th:object="${POST_DTO}" enctype="multipart/form-data">
                    <input class="form-control mb-2" type="text" th:field="*{name}" value="" placeholder="Name">
                    <input list="categoryList" th:field="*{categoryId}" class="form-control mb-2" required>
                    <datalist id="categoryList">
                        <option style="width: 100% ; font-size: 15px" th:each="item : ${CATEGORIES}"  th:value="${item.id}" th:text="${item.name}"></option>
                    </datalist>
                    <textarea th:field="*{description}" class="form-control mb-2" placeholder="Description" rows="5"></textarea>

                    <div class="panel">
                        <div class="button_outer">
                            <div class="btn_upload">
                                <input type="file" id="upload_file" th:field="*{image}">
                                Upload Thumbnail
                            </div>
                            <div class="processing_bar"></div>
                        </div>
                    </div>
                    <div class="error_msg"></div>
                    <div class="uploaded_file_view" id="uploaded_view">
                        <span class="file_remove">X</span>
                    </div>
                    <div class="content-editor">
                        <textarea name="content" id="editor" th:field="*{contentFile}">

                        </textarea>
                    </div>
                    <div id="btn-group" class="float-right">
                        <input id="btn-submit" class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <div id="discount" class="container tab-pane fade"><br>
                <h3>
                    Discount code
                </h3>
                <form action="/admin/discount" method="post" th:object="${DISCOUNT}">
                    <input type="text" class="form-control mb-2" placeholder="Code" th:field="*{discountCode}" required>
                    <input type="number" class="form-control mb-2" placeholder="Percent" th:field="*{discountPercent}" min="1" max="100" required>
                    <input type="url" class="form-control mb-2" placeholder="Link" th:field="*{discountWebsite}" required>
                    <input type="text" class="form-control mb-2" placeholder="Provider" th:field="*{provider}" required>
                    <input type="submit" class="btn btn-success mb-2" name="Submit">
                </form>
            </div>
            <div id="course" class="container tab-pane fade"><br>
                <h3>Course</h3>
                <form action="/admin/course" method="post" th:object="${COURSE_DTO}" enctype="multipart/form-data">
                    <input type="text" class="form-control mb-2" placeholder="Name" th:field="*{name}" required>
                    <input type="text" class="form-control mb-2" placeholder="Description" th:field="*{description}" required>
                    <input type="number" class="form-control mb-2" placeholder="Price" th:field="*{price}" min="1" required>
                    <input type="url" class="form-control mb-2" placeholder="Link" th:field="*{courseLink}" required>
                    <select th:field="*{categoryId}" class="form-control mb-2">
                        <option th:each="item : ${COURSE_CATEGORIES}"  th:value="${item.id}" th:text="${item.name}"></option>
                    </select>
                    <input type="text" class="form-control mb-2" placeholder="Learn method" th:field="*{learnMethod}" required>
                    <input type="file" class="form-control mb-2" placeholder="thumbnail" th:field="*{image}" required>
                    <input type="submit" class="btn btn-success mb-2" name="Submit">
                </form>
            </div>
            <div id="account" class="container tab-pane fade"><br>
                <h3>Account</h3>
                <form action="/admin/account" class="was-validated" method="post" th:object="${ADMIN_DTO}">
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" placeholder="Username" th:field="*{username}" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" placeholder="FullName" th:field="*{fullname}" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control mb-2" id="password"
                               placeholder="Password" th:field="*{password}" required onkeyup="checkPasswordMatch()">
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control mb-2" id="re-password"
                               placeholder="Re-password" required onkeyup="checkPasswordMatch()">
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <input type="submit" class="btn btn-success mb-2" name="Submit">
                </form>
            </div>
            <div id="category" class="container tab-pane fade"><br>
                <h3>Category</h3>
                <p class="text-right hide-all-btn"><a class="btn" href="">Hide all</a></p>
                <div>
                    <table class="tree table">
                        <tbody>
                        <tr class="treegrid-0">
                            <td>All categories</td>
                        </tr>
                        <th:block th:each="item : ${ALL_CATEGORIES}">
                                <tr th:if="${item.parentId != null}" th:class="'treegrid-' + ${item.id} + ' treegrid-parent-' + ${item.parentId}">
                                    <td th:text="${item.name}"></td>
                                    <td style="padding: 8px 8px">
                                        <a href="#formElement" class="btn btn-primary float-right tree-btn">Add child</a>
                                    </td>
                                    <input type="hidden" class="tree-id" th:value="${item.id}">
                                </tr>
                                <tr th:if="${item.parentId == null}" th:class="'treegrid-' + ${item.id} + ' treegrid-parent-0'">
                                    <td th:text="${item.name}"></td>
                                    <td style="padding: 8px 8px">
                                        <a href="#formElement" class="btn btn-primary float-right tree-btn">Add child</a>
                                    </td>
                                    <input type="hidden" class="tree-id" th:value="${item.id}">
                                </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div id="form-category" style="display: none">
                    <h4>Category Details</h4>
                    <form id="formElement" action="/admin/category" method="post" th:object="${CATEGORY_DTO}" enctype="multipart/form-data">
                        <input type="text" id="parentId"  th:field="*{parentId}" readonly/>
                        <input class="form-control mt-2" type="text" placeholder="Name" th:field="*{name}">
                        <textarea class="form-control mt-2" rows="4" placeholder="Description" th:field="*{description}">

                        </textarea>
                        <input class="mt-2" type="file" th:field="*{image}">
                        <input type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript" th:src="@{/ckeditor/build/ckeditor.js}"></script>
    <script th:src="@{/dist/js/image-upload-script.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js" integrity="sha512-CO5XensPF3OFwLPmDJ4oTi2h8tyOQkND2DiWEHxDb3/g8yYtnWGOS+r34jDM1/UAzcK4wKvnnCevs+OpFcP3jQ==" crossorigin="anonymous"></script>

    <script>
        //Install treegrid
        $('.tree').treegrid();
        $('.tree').treegrid('collapseAll');


        //Install skeditor
    ClassicEditor
        .create(document.querySelector('#editor'), {

            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'link',
                    'fontBackgroundColor',
                    'fontColor',
                    'fontFamily',
                    'fontSize',
                    'highlight',
                    '|',
                    'bulletedList',
                    'numberedList',
                    '|',
                    'outdent',
                    'indent',
                    '|',
                    'imageInsert',
                    'mediaEmbed',
                    '|',
                    'insertTable',
                    'undo',
                    'redo',
                    '|',
                    'htmlEmbed',
                    'codeBlock',
                    'code',
                    'MathType',
                    '|'
                ]
            },
            language: 'vi',
            image: {
                toolbar: [
                    'imageTextAlternative',
                    'imageStyle:full',
                    'imageStyle:side',
                    'linkImage'
                ]
            },
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells'
                ]
            },
            licenseKey: '',


        })
        .then(editor => {
            window.editor = editor;
            // handleSubmit(editor);

        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: vjog32cbpuc8-z46nhsly61jf');
            console.error(error);
        });

    $(document).ready(function () {
        $("#pay_for_bank").attr('checked','checked');

        var isSuccessOrder = CheckPostStatus();
        if (isSuccessOrder == "success") {
            alertify.notify('Bạn đã tạo thành công !', 'custom-success', 5);
        }
        if (isSuccessOrder == "error"){
            alertify.notify('Bạn đã tạo thất bại !', 'custom-error', 5);
        }

        $('.tree-btn').click(function () {
            var categoryId = $(this).parent().parent().find('.tree-id').val();
            $('#form-category').show();
            $('#formElement').find("#parentId").val(categoryId);
        });

        $('.hide-all-btn').click(function (){
            $('.tree').treegrid('collapseAll');
        })
    });

    function CheckPostStatus() {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        var sParameterName = sURLVariables[0].split('=');
        if (sParameterName[0] == "success")
        {
            return "success";
        } else if (sParameterName[0] == "error"){
            return "error";
        }
        return "";
    }


    function checkPasswordMatch() {
        var password = $("#password").get(0);
        var confirm_password = $("#re-password").get(0);
        if (password.value != confirm_password.value) {
            $("#re-password").parent().find('.invalid-feedback').text("Not match");
            confirm_password.setCustomValidity("Not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }
</script>
</body>
</html>