<!DOCTYPE html>
<!-- th:fragment="main-fragment(title, styles, subCategoriesNav, mainContent, courseList, postList, commentFrame, widget1, widget2, scripts) -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #styles},
                                                ~{:: #sub-categories-nav},
                                                ~{:: #main-content},
                                                ~{:: #course-frame},
                                                ~{:: #post-list-frame},
                                                ~{:: #comment-frame},
                                                ~{:: #widget-1},
                                                ~{:: #widget-2},
                                                ~{:: #scripts},
                                               )}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<th:block id="styles">
</th:block>
<title>Test</title>
</head>
<body>
	<!-- Sub-categories Navbar (if need) -->
	<div id="sub-categories-nav" th:replace="/common/___subcate-nav :: subcate-nav"></div>
	
	<!-- Widgets (if need) -->
	<div id="widget-1" th:replace="/common/___widgets :: lesson-widget"></div>
	<div id="widget-2" th:replace="/common/___widgets :: lesson-widget"></div>

	<!-- Post Content (populate content here) -->
	<div id="main-content">

		<!-- Title -->
		<h1 class="mt-4">Java là gì? Giới thiệu ngôn ngữ Java</h1>

		<p class="lead">
			Đăng bởi:
			<!-- Author -->
			<span> VanNguyen </span> -
			<!-- Date/Time -->
			<span>Vào ngày: 11-09-2017</span>
		</p>


		<hr>

		<!-- 1. Preface -->
		<p>Trong bài đầu tiên về series tự học Java cơ bản (Java Core)
			này, chúng ta sẽ lần lượt tìm hiểu về khái niệm Java là gì, sự hình
			thành của ngôn ngữ này, vì sao ngôn ngữ này lại được đặt tên là Java?
			Bên cạnh đó, bài viết này cũng sẽ lần lượt giới thiệu những đặc điểm
			cơ bản và ứng dụng của ngôn ngữ Java và các Platform cơ bản của ngôn
			ngữ lập trình Java.</p>

		<!-- 2. Table Of Content -->
		<div class="card md-4 border">
			<h5 class="card-header">Table of Content</h5>
			<ul class="go-to-detail" style="margin-bottom: 0px;">
				<li class="list-goto-0" style="text-align: left;"><a
					href="#goto-content-0"> 1. Java là gì? </a></li>
				<li class="list-goto-1" style="text-align: left;"><a
					href="#goto-content-1"> 2. Ứng dụng của Java? </a></li>
			</ul>
		</div>
		<!-- 3. Post Content -->
		<div id="goto-content-0">

			<hr>
			<h2>1. Java là gì?</h2>
			<hr>

			<p>Java là một ngôn ngữ lập lập trình, được phát triển bởi Sun
				Microsystem vào năm 1995, là ngôn ngữ kế thừa trực tiếp từ C/C++ và
				là một ngôn ngữ lập trình hướng đối tượng. Vì sao ngôn ngữ này lại
				được đặt tên là Java? Java là tên một hòn đảo ở Indonesia - hòn đảo
				nổi tiếng với loại coffee Peet và cũng là loại nước uống phổ biến
				của các kỹ sư Sun. Ban đầu Ngôn ngữ này được đặt tên là "Oak" (có
				nghĩa là "Cây sồi" - 1991), nhưng các luật sư của Sun xác định rằng
				tên đó đã được đăng ký nhãn hiệu nên các nhà phát triển đã phải thay
				thế bằng một tên mới - và cũng vì lý do trên mà cái tên Java đã ra
				đời và trở thành tên gọi chính thức của Ngôn ngữ này - Ngôn ngữ Lập
				trình Java.</p>
		</div>

		<div id="goto-content-1">

			<hr>
			<h2>2. Ứng dụng của Java?</h2>
			<hr>

			<p>Ngày nay Java được sử dụng với các mục đích sau: Phát triển
				ứng dụng cho các thiết bị điện tử thông minh, các ứng dụng cho doanh
				nghiệp với quy mô lớn. Tạo các trang web có nội dung động (web
				applet), nâng cao chức năng của server. Phát triển nhiều loại ứng
				dụng khác nhau: Cơ sở dữ liệu, mạng, Internet, viễn thông, giải
				trí,...</p>
		</div>

		<hr>

	</div>
	
	<!-- Comment Frame (if need) -->
	<div id="comment-frame" th:replace="/common/___comment-frame :: comment-frame"></div>
	
	<th:block id="scripts">
	</th:block>
</body>
</html>